* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* UTILY */
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.py-35 {
    padding: 35px 0;
}

.align-center {
    text-align: center;
}

.size-0-8rem {
    font-size: 0.8rem;
}

.line-through {
    text-decoration: line-through;
}


/* COMMON */
.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.color-red {
    color: red;
    font-weight: bold;
}


/* BACKGROUND */
.bg-header {
    background-color: #FF6900;
}

.bg-footer {
    background-color: black;
}

.bg-red {
    background-color: red;
    color: white;
}

.bg-green {
    background-color: green;
    color: white;

}


/* HEADER */
.header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-nav.flex {
    height: 70px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.header-nav a {
    margin-right: 10px;
}

.header-nav a:hover {
   text-decoration: underline;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.logo-boolean {
    height: 30px;
}

.header-symbol-action {
    text-align: right;
}

.header-symbol-action i {
    margin-left: 5px;
}

.header-symbol-action i:hover {
    scale: 1.5;
}


/* MAIN */


/* SECTION */
.section-shop {
    flex-wrap: wrap;
    gap: 20px;
}

.col-33 {
    width: calc((100% - 40px) / 3);
}


/* CARD */
.card {
    position: relative;
}

.card:hover .img-secondary {
    display: block;
}

.card h2 {
    font-size: 0.7rem;
}

.img-secondary {
    display: none;
    position: absolute;
    top: 0;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 40px;
    background-color: white;
    width: 45px;
    text-align: center;
}

.heart:hover {
    color: red;
}

.container-discount {
    position: absolute;
    bottom: 80px;
}

.discount {
    display: inline-block;
    padding: 4px;
    text-align: center;
    width: 37px;
    font-size: 0.7rem;
    font-weight: bold;
}

.sustainable {
    display: inline-block;
    padding: 4px;
    text-align: center;
    width: 73px;
    font-size: 0.7rem;
    font-weight: bold;
}


/* FOOTER */
.footer {
    color: white;
    padding: 20px 0;
    border-bottom: 1px solid gray;
}


.space-between {
    justify-content: space-between;
}

.information h4 {
    margin-bottom: 10px;
}

.information a:hover {
    text-decoration: underline;
}


/* ICON SOCIAL */

.icon-social {
    text-align: center;
}

.icon-social h5 {
   margin-bottom: 10px;
   padding-right: 5px;
}

.icon-social i {
    margin-right: 15px;
    padding-left: 5px;
}

.icon-social i:hover {
    scale: 1.5;
}


